#card-section {
    text-align: center;
    font-size: 24px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    margin-top: 90px;
}

#card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-component {
    border: 1px solid rgb(208, 204, 204);
    width: 500px;
    height: 550px;
    font-size: 20px;
    margin: 60px -120px;
}

.card-component img {
    width: 100%;
}

.card-component p {
    padding: 10px 30px;
}

.card-component a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    color: rgb(118, 50, 236);
    margin-bottom: 60px;
    letter-spacing: 1px;
    font-family: monospace, sans-serif;
}